section.categories
  each item, i in ['Предложение в парке','Предложение в аэропорту','Предложение на яхте','Предложение на воздушном шаре','Предложение на вертолёте','Предложение на маяке','Предложение в кинотеатре','Предложение флешмоб','Предложение в апартаментах москва сити','Предложение на открытой крыше','Предложение во время фотосессии','Предложение руки и сердца с горящими буквами']
    a(href="#").category 
      .category__name= item
      img.category__foto(src=`img/category-${i+1}.webp`, alt="@")