section.home-begin.home-begin--catalog
  picture
    source(media="(max-width: 768px)", srcset="img/catalog-begin-bg-mobile.webp")
    img.home-begin__bg(src="img/catalog-begin-bg.webp", alt="@")
  img.home-begin__path(src="img/home-begin-bg-path.webp", alt="@")
  include ./../layouts/_noise.pug
  .home-begin__box.home-begin__box--catalog
    .home-begin__phone.home-begin__phone--catalog
      a.home-begin__phoneicon(href="#")
        img(src="img/svg/phone.svg", alt="@") 
    .home-begin__content.home-begin__content--catalog
      h1.home-begin__title.home-begin__title--catalog Организация предложения руки и сердца