include ./../mixins/_variant.pug
include ./../mixins/_addServices.pug
include ./../mixins/_similar.pug

header.header 
  .header__box 
    img.logo(src="img/svg/logo-black.svg", alt="@")
    button.burger.js-toggleMenu 
      img(src="img/svg/burger-black.svg", alt="@")