include ./../mixins/_mixin.pug

header.header
  .container 
    .header__box 
      img.logo(src="img/svg/logo.svg", alt="@")
      button.burger.js-toggleMenu 
        img(src="img/svg/burger.svg", alt="@")