section.home-begin 
  img.home-begin__bg(src="img/home-begin-bg.webp", alt="@")
  img.home-begin__path(src="img/home-begin-bg-path.webp", alt="@")
  img.home-begin__noise(src="img/noise.webp", alt="@")
  .container 
    .home-begin__box 
      h1.home-begin__title Организация #[br] ваших лучших #[br] эмоций