section.categories
  each item in ['Предложения','Сюрпризы','Годовщины','Свидания','Извинения','Дни рождения','Поздравления','Гендер пати']
    a(href="#").category.category--border 
      .category__name= item