section.process 
  .process__box 
    .process__row
      h4.section-title.process__title #[span.process__title--mobilepadding как все] происходит ?
      .process__fotobox 
        img.process__foto(src="img/catalog-foto.webp", alt="@")
        .process__textbox
          p.process__text.process__text--margin.process__text--mobilepadding Мы берем у вас интервью и знакомимся с вами и вашей второй половинкой, что ей нравится, а что-нет, а также с вашим бюджетом.
          p.process__text Затем наши эксперты по предложениям создают персонализированные и уникальные идеи предложений для вашего случая.
    .process__textbox2 
      p.process__text У вас возможно уже есть лучшая идея предложения руки и сердца, но если она не будет реализована безупречно, она не будет иметь значения. Наши организаторы позаботятся о каждой детали для вас. #[span.process__text--mobilepadding2 Мы проследим за тем, чтобы ваш важный момент был лучше, чем вы его себе представили.]
      img.process__decor(src="img/svg/decor-3.svg", alt="@")
    .process__buttonbox
      include ./../layouts/_buttonVoplotitVJizn2.pug