section.service-home
  picture
    source(media="(max-width: 768px)", srcset="img/services/mayak-home-mobile.webp")
    img.service-home__bg(src="img/services/mayak-home.webp", alt="@")
  .service-home__box 
    h1.section-title.service-home__title Предложение #[br.desktop] руки #[br.mobile] и сердца #[br.desktop] на маяке
  .mobile
    img.service-home__path(src="img/home-begin-bg-path.webp", alt="@")
    include ./../layouts/_noise.pug