.service-info 
  .service-info__box
    p.service-info__text.service-info__text--mobilePadding Романтический вечер для особенного события или просто оригинальное свидание на маяке в центре мегаполиса вполне реально осуществить!
    p.service-info__text.service-info__text--desktopPadding Просто представьте, что вы проходите интересный мистический квест по локациям столицы и “случайно” находите маяк, на самом верху которого сервирован для вас индивидуальный шикарный ужин, создана романтическая обстановка с флористикой, лепестками роз и живой музыкой, а винтовая лестница украшена свечами. 
    p.service-info__text.service-info__text--mobilePadding Вас провожает наверх милый ангел и в такой романтической обстановке вы делаете предложение своей любимой! “Конечно же даа!”-восклицает удивленная девушка и в этот момент начинается красивый салют, которым вы вместе наслаждаетесь и радуетесь этому волшебному моменту!
    p.service-info__text.service-info__text--desktopPadding А фотограф только и успевает делать эмоциональные кадры вашей пары!
