section.similar
  .similar__box
    h4.section-title.similar__title Похожие #[span.similar__title--mobilepadding предложения]
    .similar__items
      +similar('category-1.webp', 'в парке')
      +similar('category-3.webp', 'на яхте')
      +similar('category-10.webp', 'на открытой крыше')