section.variants 
	.variants__box
		h2.section-title.variants__title Выбери свой идеальный вариант #[br] предложения руки и сердца на маяке
		.variants__items
			+variant(true, '34 000', '39 900', list=['Аренда маяка только для вас двоих','Ужин на маяке с ресторанным обслуживанием и депозитом 7 000 руб.','Романтическое оформление свечами и лепестками роз','Романтическая музыка','Сервировка','Организация и координация'])
			+variant(false, '49 900', '57 900', list=['asdf', 'asdf'])
			+variant(false, '129 900', '150 900', list=['asdf', 'asdf'])