.footer{

  position: relative;
  z-index: 1;
  padding-top: 10rem;
  padding-bottom: 15rem;
  background: var(--color-5);

  @include mediaWidth1{
    padding-top: 3rem;
    padding-bottom: 8rem;
  }

  &__title{
    margin-bottom: 3rem;
    padding-left: 7rem;
    font-size: 1.6rem;
    letter-spacing: 0.16px;
  }
  
  &__box{
    position: relative;
    width: 160rem;
    margin: 0 auto;
    @include mediaWidth1{
      width: 35.3rem;
    }
  }

  &__head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.2rem;
  }

  &__logo{
    width: 23.3rem;
    @include mediaWidth1{
      width: 10rem;
    }
  }

  &__socials{
    display: flex;
    align-items: center;
    gap: 5rem;
    @include mediaWidth1{
      gap: 1rem;
    }
  }

  &__icon{
    width: 7.7rem;
    @include mediaWidth1{
      width: 3rem;
    }
  }

  &__body{
    display: flex;
    justify-content: space-between;
    @include mediaWidth1{
      justify-content: flex-end;
    }
  }

  &__rights{
    @include mediaWidth1{
      position: absolute;
      left: 0;
    }
  }

  &__text{
    display: block;
    margin-bottom: 1rem;
    font-size: 2.8rem;
    line-height: 2.7rem;
    letter-spacing: 0.28px;
    @include mediaWidth1{
      font-size: 1.6rem;
      line-height: normal;
      letter-spacing: 0.16px;
    }
    &--nowrap{
      white-space: nowrap;
    }
  }

  &__navs{
    display: flex;
    gap: 15rem;
    @include mediaWidth1{
      flex-direction: column;
      gap: 3rem;
    }
  }

  &-menu{
    &__item{
      font-size: 2.5rem;
      line-height: 1;
      letter-spacing: 0.25px;
      text-align: right;
      @include mediaWidth1{
        font-size: 1.6rem;
        line-height: normal;
        letter-spacing: 0.16px;
      }
      &--title{
        margin-bottom: 1rem;
      }
    }
    &__link{
      color: var(--color-0);
      white-space: nowrap;
    }
  }

}