.service-home{

  position: relative;
  height: 126rem;

  @include mediaWidth1{
    height: 80rem;
  }

  &__bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__box{
    width: 160rem;
    margin: 0 auto;
    padding-top: 30.6rem;
    @include mediaWidth1{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      width: 35.3rem;
      height: 100%;
      padding-top: 0;
      padding-bottom: 15.5rem;
    }
  }

  &__title{
    color: var(--color-1);
    @include mediaWidth1{
      color: var(--color-0);
      text-align: right;
    }
  }

  &__path{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
  }

}