:root{

	--font-0: 'Gilroy';
	--font-1: 'Cormorant Infant', serif;

	--color-0: #E3DED8;
	--color-1: #232323;
	--color-2: #808080;
	--color-3: #605550;
}

$mediaWidth1: 768px;
$mediaWidth2: 320px;
@mixin mediaWidth1{
	@media(max-width: $mediaWidth1) and (min-width: $mediaWidth2){
		@content;
	}
}



