<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Moments | Маяк
	body

		include ./../sections/_headerBlack.pug

		include ./../sections/_serviceHome.pug

		.noise-bg

			include ./../sections/_serviceInfo.pug

			include ./../sections/_variants.pug

			include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug