<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Moments | Маяк
	body.service

		include ./../sections/_headerBlack.pug

		include ./../sections/_serviceHome.pug

		.noise-bg

			include ./../sections/_serviceInfo.pug

			include ./../sections/_variants.pug

			include ./../sections/_addServicesMayak.pug

			include ./../sections/_similarMayak.pug

			section.service-reviews 
				h5.section-title.service-reviews__title отзывы
				include ./../sections/_reviews.pug

			include ./../sections/_feedback.pug

			include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug