<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Templates
	body
		.templates

			.dark-bg
				
				include ./../layouts/_buttonVibratScenariy.pug

				.divider

				include ./../layouts/_buttonPosmotretRealizovannoe.pug


			.grey-bg 

				include ./../layouts/_buttonVoplotitVJizn.pug

				.divider

				include ./../layouts/_buttonOtpravit.pug

				.divider

				include ./../layouts/_buttonHochu.pug


		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug